{% extends "_base.html" %}

{% block title %}Balance{% endblock %}

{% block styles %}
    <style>

    </style>
{% endblock %}

{% block content %}
<main class="container"></main>
    <article class="row">
        <section class="col">
            {% for section in assets %}
            <div>
                <table class="table table-sm caption-top">
                    <caption>Total {{ section.label }}: {{ section.total }} </caption>
                    <tbody>
                        {% for item in section.items %}
                        <tr>
                            <td>{{ item.label }}</td>
                            <td class="text-end">{{ item.qty }} {{ item.currency }}</td>
                        </tr>
                        {% empty %} 
                        <tr>
                            <td colspan="2">No accounts found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </section>
        <section class="col d-flex flex-column justify-content-between">
            <div class="row">
                {% for section in liabilities %}
                <div>
                    <table class="table caption-top">
                        <caption>Total {{ section.label }}: {{ section.total }} </caption>
                        <tbody>
                            {% for item in section.items %}
                            <tr>
                                <td>{{ item.label }}</td>
                                <td class="text-end">{{ item.qty }} {{ item.currency }}</td>
                            </tr>
                            {% empty %} 
                            <tr>
                                <td colspan="2">No accounts found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for section in equities %}
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Activos </td>
                                <td class="text-end">{{ total_assets }} MXN</td>
                            </tr>
                            <tr>
                                <td>Pasivos </td>
                                <td class="text-end">- {{ total_liabilities }} MXN</td>
                            </tr>
                            {% for item in section.items %}
                            <tr>
                                <td>{{ item.label }}</td>
                                <td class="text-end">{{ item.qty }} {{ item.currency }}</td>
                            </tr>
                            {% empty %} 
                            <tr>
                                <td colspan="2">No accounts found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </section>
    </article>
</main>
{% endblock %}