# Python env files and directories
.venv
Pipfile.lock

# Environtment config
.env

# SQLite database files
*.sqlite3

# Python cache firles
*.pyc
*/__pycache__/*

# Text files
seed.json

# Private Django custom commands and jsons
apps/coreapp/management/commands/_private.py

# Until an stable/usable version
apps/accounting/migrations/*.py
!apps/accounting/migrations/__init__.py
apps/coreapp/migrations/*.py
!apps/coreapp/migrations/__init__.py