[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1"
isort = "*"
psycopg2 = "*"
pylint = "*"
pylint-django = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
